body {
    background-color: #1c1b1c;
    color: #29221c;
    font-family: FreeMono, monospace;
}

.navbar {
   position: sticky;
   background: #a6724c;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
}

.nav-table{
    width: 90vw;
}

.navbar-header {
   color: #29221c;
   text-align: left;
   margin:0px;
}

.nav-user-info {
    text-align: right;
}

h4.navbar-header {
    color: #752309;
}


.register-login-btn {
    border: #29221c solid;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    background: #1c1b1c;
    color: #c7c8bd;
    font-size: 20px;
    margin-left: 10px;

    text-decoration: none;
}

.container {
   background: #c7b8ad;
   border-radius: 5px;
   padding: 10px;
   text-align: left;
}

.training-container {
   text-align: center;
}

.simulators-img {
    width: 80vmin;
    border-radius: 5px;
    border: 3px solid #a6724c;
}

.proffesions-list {
    text-align: left;
}

#square {
    border: #29221c solid;
    border-radius: 10px;
    width: 30vmin;
	height: 30vmin;
}

.cabin {
    margin: auto;
}


.alien-cabin-img {
    height: 30vmin;
    border: #29221c solid;
    border-radius: 10px;
}

.member-pic {
    width: 40vw;
    border: #29221c solid;
    border-radius: 10px;
}


.carousel-pic {
    width: 500px;
    border: #29221c solid;
    border-radius: 10px;
    max-height: 60vh;
    width: auto;
}

.container-center {
    text-align: center;
}

.emblem {
    width: 15vmin;
    border: #29221c solid;
    border-radius: 5px;
}

.form-control {
    height: 20px;
    border: #29221c solid;
    border-radius: 5px;
    margin: 10px;
}

.form-label {
    margin-left: 10px;
    font-weight: bold;
}

.form-btn {
    border: #29221c solid;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    background: #a6724c;
    font-size: 20px;
    margin-left: 10px;
}

.alert-danger {
    font-weight: bold;
    color: #c21717;
}

.action-row {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
}

.row-head {
    font-weight: bold;
        border-radius: 5px;
    background: #9e8c7e;
    padding: 10px;
    margin: 0px;
}

.row-job {
    border-radius: 5px;
    background: #c2a088;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.form-control-file {
    text-size: 20px;
}

