body {
    background-color: #1c1b1c;
    color: #29221c;
    font-family: FreeMono, monospace;
}

.navbar {
   background: #a6724c;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
}

.navbar-text {
   color: #29221c;
   text-align: center;
   margin:0px;
}

h4.navbar-text {
    color: #752309;
}

.container {
   background: #c7b8ad;
   border-radius: 5px;
   padding: 10px;
   text-align: left;
}

.training-container {
   text-align: center;
}

.simulators-img {
    width: 80vmin;
    border-radius: 5px;
    border: 3px solid #a6724c;
}

.proffesions-list {
    text-align: left;
}

#square {
    border: #29221c solid;
    border-radius: 10px;
    width: 30vmin;
	height: 30vmin;
}

.cabin {
    margin: auto;
}


.alien-cabin-img {
    height: 30vmin;
    border: #29221c solid;
    border-radius: 10px;
}

.member-pic {
    width: 50vw;
        border: #29221c solid;
    border-radius: 10px;
}

.container-center {
    text-align: center;
}