<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block links %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/../../static/css/style.css"/>
    {% block title %}{% endblock %}
</head>
<body>
<header>
    <div class="navbar">
        <table class="nav-table">
            <tr>
                <td>
                    <h1 class="navbar-header">Миссия Колонизация Марса</h1>
                    <h4 class="navbar-header">И на Марсе будут яблони цвести!</h4>
                </td>
                <td class="nav-user-info">
                    {% if current_user.is_authenticated %}
                    <a class="navbar-brand link-button" href="/logout">{{current_user.surname }} {{
                        current_user.name }}
                    </a>
                    {% else %}
                    <a class="btn register-login-btn" href="/register">Зарегистрироваться</a>
                    <a class="btn register-login-btn" href="/login">Войти</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>