<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/../../static/css/style.css"/>

    <title>{{ title }}</title>
</head>
<body>
<header>
    <div class="navbar">
        <h1 class="navbar-text">Миссия Колонизация Марса</h1>
        <h4 class="navbar-text">И на Марсе будут яблони цвести!</h4>
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>