{% extends "base.html" %}

{% block content %}

<div class="container-center">
    <h2 style="text-align: center">Works log</h2>

    {% if current_user.is_authenticated %}
    <a href="/jobs" class="btn btn-secondary custom-button">Добавить работу</a>
    {% endif %}

    <table style="cellpadding: 10px" align="center">
        {% for job in data %}
        <tbody>
        <tr>
            <th class="action-row">Action # {{ job.id }}</th>
        </tr>
        <tr>
            <th class="row-head">Title of activity</th>
            <td class="row-head">Team leader</td>
            <td class="row-head">Duration</td>
            <td class="row-head">List of collaborators</td>
            <td class="row-head">Is finished</td>
        </tr>

        <tr>
            <th class="row-job" style="text-align: left">{{ job.job }}</th>
            <td class="row-job">{{ job.team_leader }}</td>
            <td class="row-job">{{ job.work_size }}</td>
            <td class="row-job">{{ job.collaborators }}</td>

            {% set color = "cf8d7e" %}{% set field = "Is not completed" %}
            {% if job.is_finished %}
            {% set color = "94b395" %}{% set field = "Is completed" %}
            {% endif %}
            <td class="row-job" style="background: #{{ color }}">{{ field }}</td>
        </tr>
        {% if current_user.is_authenticated and (current_user == job.user or
        current_user.id == 1) %}
        <tr>
            <td class="row-head">
                <a href="/jobs/{{ job.id }}" class="btn btn-warning custom-button"
                   style="font-size: 18px;">
                    Изменить
                </a>
            </td>
            <td class="row-head">
                <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger custom-button"
                   style="font-size: 18px;">
                    Удалить
                </a>
            </td>
        </tr>
        {% endif %}

        </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}
